@font-face {
    font-family: 'Antonio';
    src: url('./fonts/Antonio-Bold.woff2') format('woff2'),
        url('./fonts/Antonio-Bold.woff') format('woff'),
        url('./fonts/Antonio-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Antonio';
    src: url('./fonts/Antonio-Light.woff2') format('woff2'),
        url('./fonts/Antonio-Light.woff') format('woff'),
        url('./fonts/Antonio-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Antonio';
    src: url('./fonts/Antonio-Regular.woff2') format('woff2'),
        url('./fonts/Antonio-Regular.woff') format('woff'),
        url('./fonts/Antonio-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

html {
    overflow-y: overlay;
    width: "100vw"
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #FFF;
}

::-webkit-scrollbar-thumb {
    background-color: #777;
    border-radius: 10px;
    -webkit-transition: color 0.25s ease;
}

@media only screen and (min-width: 1200px) {
    html {
        width: 70%;
        margin: 0 auto;
    }
}